name: "lint_and_test"

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  lint_and_test:
    name: lint_and_test-app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libglib2.0-dev \
            libgobject-2.0-dev \
            libgio-2.0-dev \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf \
            pkg-config \
            build-essential \
            xdg-utils
      
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      
      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
      
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'
      
      - name: Install dependencies
        run: bun install
      
      - name: lint_and_test
        run: bun check
